books.dtd

<!ELEMENT books (book+)>
<!ELEMENT book (name,author+,page,price)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT author (author_name,email)>
<!ELEMENT author_name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT page (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ATTLIST book isbn DATA #REQUIRED> 
<!ATTLIST price currency (npr | usd) "npr">